mlflow
boto3==1.24.89
brotlipy==0.7.0
cloudpickle==2.2.0
datasets==2.5.2
defusedxml==0.7.1
ipython==8.5.0
lightning-flash==0.7.1
psutil==5.9.2
pyopenssl==22.0.0
pytorchvideo==0.1.2
sentence-transformers==2.2.2
torch==1.12.1